.xdt, .string { color: green; }
.xat, .number { color: darkorange; }
.xmt, .boolean { color: blue; }
.xel, .key { color: red; }
.null { color: magenta; }

.xtb { display: table; font-family: monospace; }
.xtc { display: table-cell; white-space: nowrap;}
.xmt { display: inline; }

.xel { display: inline; }
.xat { display: inline;  font-weight:bolder;}
.xdt { display: inline; font-weight:bolder; }